* {
  font-family: 'Baloo 2', 'Tamma 2', 'Noto Sans TC';
  transition: all .3s;
}

.container-fluid {
  padding: 0;
  position: relative;
}

#root, .content {
  width: 100%;
  position: absolute;
  top: 30px;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 92px;
  font-weight: bold;
}

.add-todo {
  width: 500px;
  height: 48px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
  border-radius: 10px;
  margin-bottom: 16px;
}

#add-txt {
  width: 436px;
  margin-left: 12px;
  padding: 0 8px;
  font-size: 18px;
  border: 0;
  border-radius: 3px;
}

#add-btn {
  margin-left: auto;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.todos {
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}

.todo-tabs {
  width: 100%;
  height: 56px;
  cursor: pointer;
}

.todo-tabs .todo-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9F9A91;
  border-bottom: 2px solid #3333;
  letter-spacing: 0.7px;
}

.active {
  color: #333333!important;
  border-bottom: 2px solid #333333!important;
}

/* The todo */
.todo {
  width: 428px;
  display: block;
  position: relative;
  padding-left: 40px;
  padding-bottom: 12px;
  margin-top: 16px;
  cursor: pointer;
  border-bottom: 1px solid #3333;
  font-family: NotoSansCJKtc-Regular;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0.62px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.todo input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #333333;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.todo:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
/*.container input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.todo input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.todo .checkmark:after {
  left: 4px;
  top: -12px;
  width: 15px;
  height: 28px;
  border: solid green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delmark {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
}

.todo:hover input ~ .delmark {
  display: block;
}

.delmark:hover {
  transform: scale(1.2);
}

.todo-footer {
  width: 100%;
  height: 66px;
}

.todo-footer .count {
  margin-left: 36px;
  font-size: 18px;
}

.todo-footer .btn-clear-finished {
  margin-left: auto;
  margin-right: 36px;
  display: none;
}

.word-through {
  color: #3333;
  text-decoration: line-through;
}